services:
  mysql:
    image: mysql:8.0
    container_name: app-infrastructure_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: Password123
      MYSQL_DATABASE: app-infrastructure
      MYSQL_USER: kemme
      MYSQL_PASSWORD: Password123
    volumes:
      - mysql_data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - backend

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: app-infrastructure_phpmyadmin
    restart: unless-stopped
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: Password123
    ports:
      - "8080:80"
    networks:
      - backend

volumes:
  mysql_data:

networks:
  backend:
    driver: bridge